{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'lib/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'shop/styles.css' %}">
    <title>Détail</title>


</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                    <a class="navbar-brand" href="/">E-Commerce</a>
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      
                      
                      <div class="collapsible navbar-collapse" id="collapsibleNavbar">
                        <ul class="navbar-nav">
                        <li class="nav-item">
                            <button id="cart" data-html=true type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="top" data-content="Salut">
                                Mes achats(0)
                            </button>
                          </li>
                        </ul>
                      </div>
                      
                  </nav>
                  <div class="bg-danger"><h2 class="text-white"> Détail du produit </h2></div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <img src="{{product_object.image.url}}">
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                        <h1>{{ product_object.title }}</h1>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h2><span class="badge badge-primary badge-pill">Prix : Ar {{ product_object.price }}</span></h2>
                    </div>
                </div>

                <div class="row">
                    <h1>Description</h1>
                    <div class="col-md-12">
                        {{ product_object.description }}
                    </div>
                </div>

            </div>

        </div>
    </div>
</body>
<script src="{% static 'lib/jquery.js' %}" ></script>
<script src="{% static 'lib/bootstrap.min.js' %}" ></script>
</html>